:root{
    --fuente_gruesa:Satoshi-Black;
    --fuente_media:Satoshi-Bold;
    --fuente_delgado:Satoshi-Regular;

    --fuente_tamanio_titulo_1:28px;
    --fuente_tamanio_titulo_2:22px;
    --fuente_tamanio_titulo_3:18px;
    --fuente_tamanio_titulo_4:15px;

    --color_rojo_1:#A61818;
    --color_rojo_0:#D61F1F;
    --color_rojo_-1:#E54B4B;
    --color_rojo_-2:#EC7E7E;

    --color_caqui_1:#7B6851;
    --color_caqui_0:#9D8669;
    --color_caqui_-1:#B3A18A;
    --color_caqui_-2:#C9BCAC;

    --color_azul_oscuro_1:#111114;
    --color_azul_oscuro_0:#16161A;
    --color_azul_oscuro_-1:#454552;
    --color_azul_oscuro_-2:#747489;

    --color_crema_1:#8C7469;
    --color_crema_0:#AB988F;
    --color_crema_-1:#BEAFA8;
    --color_crema_-2:#D0C6C1;

    --color_salmon_claro_1:#CBABAB;
    --color_salmon_claro_0:#F4EDED;
    --color_salmon_claro_-1:#F6F1F1;
    --color_salmon_claro_-2:#F9F5F5;

    --color_grises_2:#1C1C1C;
    --color_grises_1:#686868;
    --color_grises_0:#B3B3B3;
    --color_grises_-1:#DDDDDD;
    --color_grises_-2:#F7F7F7;

    --color_footer:#7E0707;
}

.footer{
    background-color: yellow;
    display: grid;
    width:100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: var(--fuente_tamanio_titulo_4);
    color:white;
    
}

    .footer > div{
        height:255px;
        background-color: var(--color_footer);
        display: flex;
        flex-direction: column;
        padding:2rem;  
        box-sizing: content-box;
    }

    .footer > div > h4{
        margin-bottom: 6px;
        font-family: var(--fuente_gruesa);
    }

    .footer > div > p:nth-of-type(1),.footer > div > ul:nth-of-type(1){
        margin-bottom: 2rem;
    }

    .footer > div > ul > li{
        margin-left:2rem;
    }

    .footer > div > ul.lista_de_redes_sociales{
        list-style: none;
        display: flex;
        flex-direction: column;
        /* background-color: green; */
        height: 100%;
        justify-content: space-around;
        align-items: start;
        margin-bottom: 0;
    }

    .footer > div > ul.lista_de_redes_sociales > li{
        margin-left:0;
    }

    .footer > div > ul.lista_de_redes_sociales > li > a{
        display: flex;
        align-items: center;
        color:white;
    }

    .footer > div > ul.lista_de_redes_sociales > li > a > img{
        width: 30px;
        height: 30px;
        margin-right: 0.7rem;
    }

    .footer > div.contenedor_final_footer{
        display: flex;
        align-items: center;
    }

    .footer > div.contenedor_final_footer > img{
        width:80%;
        margin-bottom: 1rem;
    }

    @media only screen and (max-width: 1000px){
        .footer{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 255px;
        }
        
    }

    @media only screen and (max-width: 550px){
        .footer > div{
            padding:0.5rem;
        }
        .footer > div > ul > li{
            margin-left:1rem;
        }
    }