.contenido_total{
    position: relative; /* Permite posicionar la capa negra y el contenido */
    width: 100%;       /* Ocupa todo el ancho */
    height: 80vh;     /* Ocupa toda la altura de la ventana */
    background-image: url('../imgs/Fondo_Que_Buscas.jpg'); /* Imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir todo el espacio */
    background-position: center; /* Centra la imagen */
}


    .contenido_total > .overlay {
        position: absolute; /* Posiciona la capa sobre la imagen */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.733); /* Color negro con opacidad */
        z-index: 1; /* Se asegura de estar encima de la imagen */
    }

    .contenido_total > .contenido {
        padding-top: 90px;
        position: relative; /* Asegura que esté por encima de la capa negra */
        z-index: 2; /* Más alto que la capa negra */
        color: white; /* Texto en blanco para contraste */

        display: flex;
        justify-content: center;
        align-items: center;
        /*background-color: rgb(60, 255, 0);*/
        height: 100%;
    }


        .contenido_total > .contenido > .contenido_2{
            /*background-color: red;*/
            width:90%;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }


            .contenido_total > .contenido > .contenido_2 > .seleccion_ubicacion{
                display: flex;
                align-items: center;
                position:absolute;
                top:1rem;
                left:1rem;
                font-weight: var(--fuente_bold);
            }

            .contenido_total > .contenido > .contenido_2 > .principal{
                /*background-color: yellow;*/
                display: grid;
                grid-template-columns: 1fr auto;
                row-gap: 1rem;
                column-gap: 1rem;
                margin-bottom: 90px;
            }

                .contenido_total > .contenido > .contenido_2 > .principal > h1{
                    grid-column: span 2;
                    font-size: 40px;
                    font-weight: var(--fuente_extrabold);
                    margin: 0;
                    text-align: center;
                }

                .contenido_total > .contenido > .contenido_2 > .principal > button{
                    padding:0.5rem 1rem;
                    background-color: var(--color_rojo_1);
                    border: 2px solid var(--color_rojo_1);
                    border-radius: 0.5rem;
                    font-weight: var(--fuente_semibold);
                    position: relative;
                }

                .contenido_total > .contenido > .contenido_2 > .principal > button:hover{
                    background-color: var(--color_blanco);
                    border: 2px solid var(--color_rojo_1);
                    color: var(--color_rojo_1);
                }

                .contenido_total > .contenido > .contenido_2 > .principal > input{
                    border-radius: 0.5rem;
                    padding: 0 1rem;  
                }


.ventana_emergente_ubicacion {
    /*background-color: red;*/
    width: 25rem;
    font-size: var(--fuente_tamanio_titulo_4);
    position: absolute; /* Ahora se posicionará en relación al contenedor anterior */
    top: 40px; /* La ventana emergente se coloca justo debajo del botón */
    left: 0; /* La ventana emergente se alineará al inicio del botón */
    z-index: 10; /* La ventana debe estar por encima de otros elementos */
    box-shadow: 1px 16px 10px -5px rgba(0,0,0,0.75);
}

    .ventana_emergente_ubicacion > .cabecera_botones{
    /*background-color: green;*/
    display: flex;
    }

    .ventana_emergente_ubicacion > .cabecera_botones > button{
        background-color: var(--color_gris_-1);
        padding: 0.3rem 1rem;
        border: 1px solid black;
        color: var(--color_gris_1);
        font-weight: var(--fuente_semibold);
    }

    

    .ventana_emergente_ubicacion > .cabecera_botones > button.seleccionado{
        color: var(--color_negro);
        border-bottom: 1px solid var(--color_blanco);
        background-color: var(--color_blanco);
    }

    .ventana_emergente_ubicacion > .contenedor_opcion{
        background-color: var(--color_blanco);
        padding: 0.5rem;
        border: 1px solid black;
        margin-top: -1px;
    }

        .ventana_emergente_ubicacion > .contenedor_opcion > div{
            display: flex;
            flex-direction: column;
            row-gap: 0.7rem;
            
        }

        .ventana_emergente_ubicacion > .contenedor_opcion > div > select > option{
            font-size: 13px;
        }

        .ventana_emergente_ubicacion > .contenedor_opcion > div > button{
            align-self: center;
            background-color: var(--color_blanco);
            padding:0.3rem 1.5rem;
            color: var(--color_negro);
            border: 1px solid black;
        }

        .ventana_emergente_ubicacion > .contenedor_opcion > div > button:hover{
            background-color: var(--color_verde_1);
            color: var(--color_blanco);
        }

        .ventana_emergente_ubicacion > .contenedor_opcion > div.cont_mi_zona > p{
            color:rgb(245, 17, 17);
            font-size: 13px;
        }

@media only screen and (max-width: 600px){

    .contenido_total > .contenido > .contenido_2 > .principal{
        grid-template-columns: 1fr;
        margin-bottom: 90px;
        column-gap: 0;
    }

    .contenido_total > .contenido > .contenido_2 > .principal > button{
        grid-column: span 2;
        text-align: center;
        justify-self: center;
        padding:0.5rem 3rem;
    }


    .contenido_total > .contenido > .contenido_2 > .principal > input{
        padding:0.5rem 1rem;  
    }

    .contenido_total > .contenido > .contenido_2 > .principal > h1{
        font-size: 30px;
    }

    .ventana_emergente_ubicacion{
        width:90vw;
    }
    
}