@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');


:root{   
    --fuente_regular:400;
    --fuente_medium:500;
    --fuente_semibold:600;
    --fuente_bold:700;
    --fuente_extrabold:800;

    --fuente_tamanio_titulo_1:28px;
    --fuente_tamanio_titulo_2:22px;
    --fuente_tamanio_titulo_3:18px;
    --fuente_tamanio_titulo_4:15px;

    --color_amarillo_1:#F6C821;
    --color_amarillo_0:#F9DB6D;
    --color_amarillo_-1:#FBE79E;
    --color_amarillo_-2:#FDF3CE;

    --color_rojo_1:#A6251E;
    --color_rojo_0:#DE5048;
    --color_rojo_-1:#E98A85;
    --color_rojo_-2:#F4C5C2;

    --color_verde_1:#245755;
    --color_verde_0:#36827F;
    --color_verde_-1:#65BFBC;
    --color_verde_-2:#B2DFDD;

    --color_azul_1:#2F334F;
    --color_azul_0:#464D77;
    --color_azul_-1:#7880B0;
    --color_azul_-2:#BCC0D7;

    --color_negro:#1C1C1C;
    --color_gris_1:#686868;
    --color_gris_0:#B3B3B3;
    --color_gris_-1:#DDDDDD;
    --color_blanco:#F7F7F7;
}

html{
    font-family: 'Poppins', sans-serif;
}

*{
    box-sizing: border-box;
}


input[type="text"] {
    all: unset; /* Resetea todos los estilos del input */
    display: block; /* Asegura que el input sea un elemento de bloque (opcional) */
    background-color: white;
    color:black;
}

input[type="text"]:focus {
    outline: none; /* Elimina cualquier borde o efecto al enfocar */
    box-shadow: none; /* Elimina sombras de foco */
}

nav{
    width: 100%;
    height: 90px;
    /*background-color: rgba(255, 0, 0, 0.199);*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 2rem;


    position: fixed; /* Fija el elemento en su lugar */
    top: 0;          /* Asegura que esté pegado a la parte superior */
    left: 0;         /* Asegura que esté alineado al borde izquierdo */
    z-index: 1000;  
    transition: background-color 0.3s ease;
}

nav.transparente{
    background-color: transparent;
}

nav.color{
    background-color: var(--color_rojo_1);
}

    nav > .cont_logo{
        height:70px;
    }

        nav > .cont_logo > img{
           height: 100%;
           width: auto;
        }

    nav > button#boton_hamburguesa{
        padding: 0.5rem;
        border:2px solid white;
        border-radius: 5px;
        color:white;

        display: none;
    }

        nav > button#boton_hamburguesa > span{
            position: relative;
            top:2px;
        }


    nav > ul#menu{
        display: flex;
        column-gap: 2.5rem;
    }


        nav > ul#menu > li > a, nav > a{
            color:var(--color_blanco);
            padding:1rem 1rem;
            font-weight: var(--fuente_semibold);
            transition: background-color 0.3s ease;
        }

        nav > ul#menu > li > a:hover, nav > a:hover{
            background-color: var(--color_rojo_1);
        }



.espacio_navegador{
    height: 90px;
}



@media only screen and (max-width: 1000px) {
    nav{
        padding: 0 0.5rem;
    }
    
    nav > button#boton_hamburguesa {
        display: block;
    }

    nav > ul#menu {
        display: none;
        column-gap: 2.5rem;
        flex-direction: column;
        position: absolute;
        right: 0;
        bottom: -125px;
    }

    nav > ul#menu > li {
        background-color: var(--color_verde_1);
        padding: 0.5rem 10px;
        border: 1px solid white;
        margin: -1px;
    }

    nav > .cont_logo {
        height: 55px;
    }

    


}